h1{
  color:blue;
}

img { 
    width:200px; 
}

li {
  display: inline-block;
}
#my{
  position: inline-block;
  right:0%;
  bottom:100;
}
#ding{ 
   position: inline-block; 
   right:0%; 
   top:10; 
}
#bing{ 
  position: inline-block; 
  right:0%; 
  top:30; 
}
#bing{ 
  position: inline-block; 
  right:0%; 
  bottom:110; 
}
#ring{ 
  position: inline-block; 
  right:0%; 
  top:0; 
}
#ming{ 
  position: inline-block; 
  right:0%; 
  top:80; 



