h1{
  color:blue;
}

img { 
    width:200px; 
}

li {
  display: inline-block;
}
#my{
  position: fixed;
  right:0%;
  bottom:100;
}
#ding{ 
   position: fixed; 
   right:0%; 
   bottom:50; 
}
#bing{ 
  position: fixed; 
  right:0%; 
  bottom:75; 
}
#{ 
  position: fixed; 
  right:0%; 
  bottom:10; 
}
#{ 
  position: fixed; 
  right:0%; 
  bottom:0; 
}
{ 
  position: inline-block; 
  right:0%; 
  bottom:80; 



