h1{
  color:blue;
}

img { 
    width:200px; 
}

li {
  display: relative;
}
#group{ 
   position: fixed; 
   right:0%; 
   bottom:50; 
}
#ding, #my, #bing, #ming, #ring {
  display: block;
}
  
#main_text{
  padding-right: 100px;
}

