h1{
  color:blue;
}
<!DOCTYPE html>
<html>
<head>
<style>
img { 
    width:100%; 
}
</style>
</head>
<body>

<img src="https://upload.wikimedia.org/wikipedia/en/c/c5/Moji%2C_the_male_Syrian_hamster.jpg" > 

</body>
</html>
